*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
}
body{
    background: #171D36;
    color: #f5f5f5;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(./Slide\ 4_3\ -\ 1.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:  #ff4747;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin: 20%;
    font-size: 20px;
}
.header-text h1{
    font-size: 30px;
    margin-top: 10%;
}
.header-text h1 span {
    color: #050608;
}
.header-text h3 span a {
    text-decoration: none;
    color: #45b4119a;
}
.header-text h2 span1 {
    color: #b3aa93;
}.header-text h2 span4 {
    color: #b3aa93;
}.header-text h2 span3 {
    color: #b3aa93;
}.header-text h2 span2 {
    color: #b3aa93;
}

/* --------------ABOUT---------- */
#about{
    padding: 49px 0;
    color: rgb(36, 220, 226);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcol-1{
    flex-basis: 35%;
}
.aboutcol-1 img {
    width: 100%;
    height: 300px;
    border-radius: 10%;
}
.aboutcol-2 {
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
   font-weight: 500;
   color: rgb(231, 231, 231); 
}
.tabtitles{
    display:flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px ;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: rgb(178, 149, 206);
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;  
    background-color:#ff4747;
    position: absolute; 
    left: 0; 
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.activelink::after {
    width: 50%;
}
.tabcontents ul li{
    list-style: none;
    margin: 10px 0;
}
.tabcontents ul li span{
    color: #054ddd;
    font-size: 15px;
}
.tabcontents{
    display: none;
}
.tabcontents.active-tab{
    display: block;
 } 

 /* ---------------------Services------------------ */
 /* #services{
    padding: 320px 12px;
 } */
.serviceslist{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(40px, 100%));
    grid-gap: 10vh;
    margin-top: 50px;
}
.serviceslist div{
    padding: 11px;
    background: #171D36;
    font-size: 15px;
    font-weight: 300;
    border-radius: 0px;
    transition: background 0.5s, transform 0.5s;
}
#x{
    padding: 0px;
    margin-bottom: 11px;
    font-size: 30px;
}
/* !!!!!!!!!! */
.serviceslist div h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 11px;
}
.serviceslist div a {
    text-decoration: none;
    color: #ff4747;
    font-size: 25px;
    margin-top: 15px;
    display: block;
}

.serviceslist div:hover{
    background: #025c72;
    transform: translateY(-10px);
}

/* ------------------Contact---------------- */
h1{
    padding-bottom:3%;
    margin-left: 0px;
    padding-left: 10px;
}
/* p{
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
} */
.contactleft p{
    padding-left: 17px;
    font-size: 29px;
    font-weight: 600;
    font-style: italic;
}
.contactleft a{
    text-decoration: none;
    color: #050608;
}
.contactleft i {
    padding-right:17px;
    font-size: 60px;
}
.contactleft{
    flex-basis: 90%;
}
.contactright{
    flex-basis: 100%;
}
/* .socialicons a i:hover{
    color: rgb(255, 42, 42);
    transform: translateY(-9px);
} */
.socialicons a i{
    padding-left: 14px;
    padding-right: 0%;
    font-size: 35px;
    transition: transform 0.5s, color 0.5s; /* Add color transition */
    margin-top: 3%;
    color: #d4d0d0; /* Set default icon color */
}

.socialicons a i:hover{
    color: rgb(187, 35, 35) !important; /* Set hover icon color */
    transform: translateY(-9px);
}
.btn.btn2{
    display: inline-block;
    background: #ff4747;
    margin-top: 4%;
    margin-left: 17px;
    height: 10vh;
    width: 29vh;
    text-align: center;
    line-height: 10vh;
}
.contactright form{
    width: 0;
}
form input, form textarea{
    width:100vh;
    border: 0;
    outline: none;
    background: #000;
    padding: 15px;
    margin: 15px 0;
    color: #025c72;
    font-size: 15px;
    border-radius: 10px;
}
.details {
    font-size: 29px;
    font-weight: 600;
    margin-top:1%;
    margin-left: -1vh;
    padding-bottom: 1%;
    color: chocolate;
}
form .btn.btn2{
    cursor: pointer;
    margin-left: 0vh;
    margin-top: 17px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 1% ;
    background: #352727;
    font-weight: 300;
    margin-top: 39px;
    font-style: italic;
    display: inline-block;
}
.copyright i {
    color: #ffb157 !important;
    margin: 10px;
}
/* ------------css for small screen ----------*/
nav #img {
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: none;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav #img {
        display: block;
        font-size: 20px;
    }
    nav ul{
        background: #df0b0b;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
         padding-top: 49px;
        z-index: 2;
        transition: 0.5s;
    }
    .space{
        width: 1px;
    }
    nav ul li{ 
        display: block;
        margin: 25px;
    }
    nav ul #img{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .aboutcol-1, .aboutcol-2{
        flex-basis: 100%;
    }
    .aboutcol-1{
        margin-bottom: 8%;
    }
    .aboutcol-2{
        font-size: 60px;
        margin-left: 1px;
    }
    .tab-links{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 10px;
    }
    .contactleft, .contactright{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 19px;
    }
    form input, form textarea{
        width: auto;
    }
}
#msg{
    color: #b3aa93;
    margin-top: 10px;
    display: block;
}